nav li {
    display: inline-block;
    width: 20%;
    font-family: 'Merriweather', serif;
}

nav a {
    text-decoration: none
}

a.current {
    text-decoration: underline;

}


div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: start;
    grid-gap: 0px;

}

div header {
    grid-column-start: span 3;
    font-family: 'Merriweather', serif;
    font-size: 30px;

}

div {
    font-family: 'Merriweather', 'serif';
    font-size: 15px;
}

div h1 span {
    font-size: 15px;
}

div > h2 {
    grid-column-start: span 4;
    font-size: 25px;
}

div > h3 {
    grid-column-start: span 4;
    font-size: 25px;
}

div article {
    grid-column-start: span 4;
}

div a {
    font-weight: bold;
}

div.banner {
    grid-column: 1 / 5 ;
    background-image: url("../images/talent/mreowmi/mreowmi_4.jpg");
    height: 15vh;
    /* justify-self: start; */
}

figure {
    margin: 0;

}

figure img {
    width: 95%
}

i {
    display: block;
    width: 440px;
}
