body{
    color: #000033;
    background-color:#FFDEDD;
}

a:focus {
    outline: 3px dashed red;
  }

.skip {
    position: absolute;
    height: 1px;
    width: 1px;
    text-align: left;
    display: block;
    overflow: hidden;

}

a.skip {
    color: #000033;
}

a {
    color: #000033;
}

nav li {
    display: block;
    width: 20%;
    font-family: 'Roboto';
}

nav a {
    text-decoration: none;
    color: #000033, black;
}

a.current {
    text-decoration: underline;

}

a:visited{
    color: #000033;
}


div header a {
    font-size: 80px;
}

div {
    font-family: 'Roboto', 'serif';
    font-size: 15px;
}

h1 {
    font-size: 80px;
    font-family: "Merriweather";
    font-weight: bold;
}

div a {
    font-weight: bold;
}

figure {
    margin: 0;

}

figure img {
    width: 100%;
    border-radius: 25px;
}



div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: start;
    grid-gap: 10px;
    grid-auto-flow: row;
}


div header {
    grid-column-start: span 2;
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

div > h2 {
    grid-column-start: span 2;
    font-size: 25px;
}

div > h2 {
    grid-column-start: span 2;
    font-size: 25px;
}

div article {
    display: inline;
    grid-column-start: span 2;
    font-size: 25px;
}
div > h3 {
    display: inline;
    grid-column-start: 2 span 2;
    font-size: 25px;
}
div.banner {
    grid-column: 1 / 3 ;
    background-image: url("../images/talent/mreowmi/mreowmi_4.jpg");
    height: 50vh;
    border-radius: 25px;
    padding: 10px;
    /* justify-self: start; */
}

div footer {
    grid-column-start: span 2;
    font-size: 25px;
}

form {
    background-color: #D3BEE8;
    padding: 8px;
    border-style: solid;
    border-width: 8px;
    border-color: black;
}

nav.big_menu, header {
    display: none;
    
    
}

.navbar-brand{

    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: "Merriweather";
    font-weight: bold;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6;
}



@media screen and (min-width:500px) {

 
    a.skip {
        color: white;
    }
    nav.bootstrap{
        display:none;
    }

    div header {
        grid-column-start: span 2;
        font-family: 'Merriweather', serif;
        font-size: 80px;
    }

    header {
        display: flex;
        justify-content: center;
        padding: 0 10%;

    }

    nav.big_menu {
        display:block;
        background: #000033;
        height: 2 vh;
        padding: 1% 0px;
    }

    nav.big_menu ul {
        display: flex;
        justify-content: center;
        padding: 0 10%;

    }

    nav.big_menu a {
        display:block;
        border-radius: 5px;
    }

    nav.big_menu li {
        background-color: #D0EBFF;
        text-align: center;
        border-radius: 5px;
        display: inline-block;
        width: 80px;
        line-height: 80px;
        margin: 0 5px;
    }
}

@media screen and (min-width:700px) {
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-content: start;
        grid-gap: 10px;
        grid-auto-flow: row;
    }
    div header {
        grid-column-start: span 3;
        font-family: 'Merriweather', serif;
        font-size: 80px;
    }
    div > h2 {
        grid-column-start: span 3;
        font-size: 25px;
    }
    div article {
        display: inline;
        grid-column-start: span 3;
        font-size: 25px;
    }
    div > h3 {
        display: inline;
        grid-column-start: 2 span 3;
        font-size: 25px;
    }
    div.banner {
        grid-column: 1 / 4 ;
        background-image: url("../images/talent/mreowmi/mreowmi_4.jpg");
        height: 50vh;
        /* justify-self: start; */
    }
}

@media screen and (min-width:1000px) {


    div {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-content: start;
        grid-gap: 10px;
        grid-auto-flow: row;
        margin: 0 20vw;
        
    }


    div.banner {
        background-image: url("../images/talent/mreowmi/mreowmi_4.jpg");
        height: 50vh;
        grid-column: 1 span 3;
        margin: 0;
    }

}